@inject IViewInventoriesByNameUseCases ViewInventoriesByNameUseCases

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (inventories is not null && inventories.Count > 0)
        {
            foreach (var inventory in inventories)
            {
                <InventoryListItemsComponent inventory="@inventory"></InventoryListItemsComponent>
            }
        }
    </tbody>
</table>


@code {
    private List<Inventory>? inventories;

    [Parameter]
    public string? SearchFilter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        inventories = (await ViewInventoriesByNameUseCases.ExecuteAsync(SearchFilter ?? "")).ToList();
    }
}